*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body{
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  padding: 20px;
  background-color: white;
}
.pageheader{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.pageheaderitm{
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px
}
.pageheaderitm:last-child{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.logo{
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
  border-radius: 10%;
}

.logo:hover{
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.navlist, .navlistitm{
  display: inline-block;
  margin-left: 15px;
}
.menubar{
  font-size: 25px;
}
.profile{
  max-width: 700px;
  margin: 0 auto;
}
.profilepic{
  float: left;
  width: 200px;
  margin-right: 40px;
  border-radius: 50%;
}
.profilepic{
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
}
.profilepic1{
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
}
.profiletext{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 32px;
}

p {
  font-size: 25px;
}

table {
  font-size: 25px;
}

.email {
  font-size: 25px;
}

.phone {
  font-size: 25px;
}

.worklink {
  font-size: 25px;
}

.emailme {
  font-size: 25px;
}

 table{
   border: solid 1px black;
   background-color: white;
 }
.tablehead{
  font-weight: 600;
  text-decoration: underline;
}

a,
a:visited,
a:active{
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.9;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.send{
  border: none;
  font-family: inherit;
  background-color: #40BFA1;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

}
.send:hover,
.send:focus {
  border-bottom: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

input{
  background-color: white;
  border-style: hidden;
  border: 2px solid black;
}
textarea{
  background-color: white;
  border: 2px solid black;
  width: 200px;
  height: 90px;
}
ul{
  list-style-type: none;
}
.grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.griditm{
  background-color: #40BFA1;
  padding: 10px;
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
  border-radius: 30px;
}
.griditm:last-child{
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.griditm:first-child{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.griditm:nth-child(2){
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}
@media all and (min-width: 1px) and (max-width: 500px) {
  .grid{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .griditm:last-child{
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .griditm:first-child{
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .griditm:nth-child(2){
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
    h2{font-size: 20px;
    }
    p{font-size: 18px}
}
@media all and (min-width:500px) and (max-width: 1200px){
  .grid{
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .griditm:last-child{
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .griditm:first-child{
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .griditm:nth-child(2){
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
    h2{font-size: 26px;
    }
    p{font-size: 20px}
}
.profilepic1{
  display: block;
  border-radius: 50%;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.biohead,
.who{
  text-align: center;
  margin-right: 20px
}
.skills{
  text-align: center;
}

.skilltable{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
button{
  border: none;
  font-family: inherit;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 35px;
  text-decoration: none;
  background-color: #40BFA1;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
}
.button{
  border: none;
  font-family: inherit;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 35px;
  text-decoration: none;
  background-color: #40BFA1;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
}
button:hover,
button:focus,
.button:hover,
.button:focus{
  -webkit-box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
          box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.raincloud{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: none;
  -webkit-animation: 1s cloud infinite alternate linear;
          animation: 1s cloud infinite alternate linear;
}
.seattle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 225px;
}

@-webkit-keyframes cloud {
  from{
    -webkit-transform: translate(230px,40px);
            transform: translate(230px,40px);
}
  to{
    -webkit-transform: translate(230px,40px);
            transform: translate(230px,40px);
  }
}

@keyframes cloud {
  from{
    -webkit-transform: translate(230px,40px);
            transform: translate(230px,40px);
}
  to{
    -webkit-transform: translate(230px,40px);
            transform: translate(230px,40px);
  }
}
@-webkit-keyframes raina {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }
@keyframes raina {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }
@-webkit-keyframes rainb {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }
@keyframes rainb {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }
  .pagefooter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
  }
  .aboutfooter{
    position: relative;
    bottom: 450px;
  }

  @media all and (max-width:645px) {
    .seattle{
      display: none;
  }
    .raincloud{
      display: none;
    }
    .aboutfooter{
      position: relative;
      bottom: 0;
    }
  }

.raina{
  animation: 0.3s raina infinite reverse linear;
}
.rainb{
  -webkit-animation: 0.3s rainb infinite linear;
          animation: 0.3s rainb infinite linear;
}
.email, .phone{
  text-decoration: none;
}
.messageme, .messageme1{
  text-align: center;
}
.contactform{
  text-align: center;
}

.messageme1{
  line-height: 0pt;
}
