:root {
  --text-color: black;
  --secondary-text-color: white;
  --primary-color: #d4f5f5;
  --secondary-color: #93b7be;
  --button-color: #444545;
  --primary-heading-font-size: 50px;
  --secondary-heading-font-size: 32px;
  --general-font-size: 25px;
  --button-font-size: 35px;
  --favorite-shadow: 4px 3px 19px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  padding: 20px;
  background-color: var(--primary-color);
}

.pageheader {
  display: flex;
  width: 100%;
  padding: 20px;
}

.pageheaderitm {
  flex: 0 1 200px;
}

.pageheaderitm:last-child {
  flex-grow: 1;
  text-align: right;
}

.logo {
  box-shadow: var(--favorite-shadow);
  border-radius: 10%;
}

.logo:hover {
  box-shadow: 4px 3px 19px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
}

.navlist,
.navlistitm {
  display: inline-block;
  margin-left: 15px;
}

.menubar {
  font-size: 25px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profilepic {
  float: left;
  width: 200px;
  margin-right: 40px;
  border-radius: 50%;
}

@media all and (max-width: 440px) {
  .logo {
    position: relative;
    top: 25px;
  }

  .profilepic {
    float: none;
    position: relative;
    left: 22px;
  }

  .profile {
    text-align: center;
  }
}

.profilepic,
.profilepic1 {
  box-shadow: var(--favorite-shadow);
}

.profiletext {
  flex: 1 1 100px;
}

h1 {
  font-size: var(--primary-heading-font-size);
}

h2,
h3 {
  font-size: var(--secondary-heading-font-size);
}

p,
table,
.email,
.phone,
.worklink,
.emailme {
  font-size: var(--general-font-size);
}

.work-img {
  border-radius: 10px;
}

table {
  border: solid 1px black;
  background-color: white;
}

.tablehead {
  font-weight: 600;
  text-decoration: underline;
}

.worklink-container{
  text-align: center;
}

a,
a:visited,
a:active {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.9;
  transition-duration: 0.2s;
}

.send {
  border: none;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.send:hover,
.send:focus {
  border-bottom: none;
  cursor: pointer;
  opacity: 0.8;
  transition-duration: 0.2s;
}

input {
  background-color: var(--primary-color);
  border-style: hidden;
  border: 2px solid var(--text-color);
}

textarea {
  background-color: var(--primary-color);
  border: 2px solid var(--text-color);
  width: 200px;
  height: 90px;
}

.work-container{
  display: flex;
  justify-content: space-around;
}

.chat-img{
  width: 40%;
  height: auto;
  border-radius: 10px;
  
}

ul {
  list-style-type: none;
}

.work-heading{
  text-align: center;
}

.work-item {
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: var(--favorite-shadow);
  border-radius: 30px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;;
}

.chat-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}s

.work-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.profilepic1 {
  display: block;
  border-radius: 50%;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.biohead,
.who {
  text-align: center;
  margin-right: 20px;
}

.skills {
  text-align: center;
}

.skilltable {
  background-color: #93B7BE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 10px;
}

button,
.button {
  border: none;
  font-family: inherit;
  color: var(--secondary-text-color);
  width: 200px;
  height: 60px;
  font-size: var(--button-font-size);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 3px;
  box-shadow: var(--favorite-shadow);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  box-shadow: 4px 3px 19px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
}

.raincloud {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: none;
  animation: 1s cloud infinite alternate linear;
}

.seattle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 225px;
}

@keyframes cloud {
  from {
    transform: translate(230px, 40px);
  }

  to {
    transform: translate(230px, 40px);
  }
}

@keyframes raina {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rainb {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pagefooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 100px;
}

.aboutfooter {
  position: relative;
  bottom: 450px;
}

@media all and (max-width: 645px) {
  .seattle {
    display: none;
  }

  .raincloud {
    display: none;
  }

  .aboutfooter {
    position: relative;
    bottom: 0;
  }
}

.raina {
  animation: 0.3s raina infinite reverse linear;
}

.rainb {
  animation: 0.3s rainb infinite linear;
}

.email,
.phone {
  text-decoration: none;
}

.messageme,
.messageme1 {
  text-align: center;
}

.messagehead {
  text-decoration: underline;
}

.contactalex {
  text-align: center;
}

.contactinfo {
  position: relative;
  right: 19px;
}

.contactform {
  text-align: center;
}

.contactme {
  padding: 3px;
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messageme1 {
  line-height: 0pt;
}
